body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f3f7;
  overflow: hidden; /* Added overflow property to hide the scrollbar */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; /* Updated width to 80% */
  margin: 0 auto; /* Added margin to center the container */
  height: 100%; /* Added height property to fill the available space */
  overflow-y: auto; /* Added overflow-y property to enable vertical scrolling */
}

h1 {
  color: #6a0572;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

table {
  width: 85%; /* Updated width to 85% */
  margin-top: 20px;
  border-collapse: collapse;
  background-color: #f9f7fb;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4); /* Updated box-shadow property to only show shadow at the bottom and right */
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #a55bd7;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #d4b1e3;
}

tr:nth-child(odd) {
  background-color: #b68dd0;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px; /* Added border-radius to create a pill-like shape */
  background-color: #6a0572; /* Added background color */
  color: #fff; /* Added text color */
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #8c0b8e; /* Added hover background color */
  cursor: pointer;
}

#upload-button {
  align-self: flex-end; /* Added align-self property to align the button to the right */
  margin-right: 15%;
}

.alert {
  width: 85%; /* Updated width to 85% */
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
}

.alert-notice {
  background-color: #d1ecf1;
  color: #0c5460;
}

.alert-alert {
  background-color: #f8d7da;
  color: #721c24;
}
